@(idDiscip: Long,idProva: Long)
@main("Elaboração das Questões"){
	
	
	<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/index">Home</a></li>
        </ul>
      </div>
	<legend>Nova Questão</legend>

	

	<div class="row">
		<div class="col-md-7">
	 <div class="form-group" draggable="true">
	 
@helper.form(action=routes.QuestaoCrud.gravarQuestao()){

	
              <label class="control-label" for="enunciado">Enunciado da Questão:</label>              
              <textarea class="form-control" name="enunciado" id="enunciado" cols="50" rows="5"></textarea>
         </div>

	<div class="form-group" draggable="true">
              <label class="control-label" for="alter01">Alternativa 01:</label>              
              <input type="text" class="form-control" name="alter01" id="alter01" >
         </div>

         <div class="form-group" draggable="true">
              <label class="control-label" for="alter02">Alternativa 02:</label>              
              <input type="text" class="form-control" name="alter02" id="alter02" >
         </div>

         <div class="form-group" draggable="true">
              <label class="control-label" for="alter03">Alternativa 03:</label>              
              <input type="text" class="form-control" name="alter03" id="alter03" >
         </div>

         <div class="form-group" draggable="true">
              <label class="control-label" for="alter04">Alternativa 04:</label>              
              <input type="text" class="form-control" name="alter04" id="alter04">
         </div>

         <div class="form-group" draggable="true">
              <label class="control-label" for="alter05">Alternativa 05:</label>              
              <input type="text" class="form-control" name="alter05" id="alter05" >
         </div>


	<input type="text" name="idDiscip" value="@idDiscip"hidden>

	<input type="text" name="idProva" value="@idProva"hidden>

	@if(Questao.returnQtdQuestCadastrada(idDiscip) >= Disciplina.find.byId(idDiscip).getQtdQuestao()){

	<div class="control-group">
		  <label class="control-label" for="singlebutton"></label>
		  <div class="controls">
		    <button  id="singlebutton" name="singlebutton" class="btn btn-primary disabled">Gravar</button>
		    <button  id="singlebutton" name="singlebutton" class="btn btn-primary">Enviar</button>
		  </div>
		</div>
		}else{
		<div class="control-group">
		  <label class="control-label" for="singlebutton"></label>
		  <div class="controls">
		    <button  id="singlebutton" name="singlebutton" class="btn btn-primary">Gravar</button>
		    <button  id="singlebutton" name="singlebutton" class="btn btn-primary disabled">Enviar</button>
		  </div>
		</div>
		}
		</div>

		<div class="col-md-5">
		<legend>Detalhes</legend>
			<dl>
				<dt>Disciplina:</dt>
				@Disciplina.find.byId(idDiscip).getNome()
				<dt>Quantidade de Questões:</dt>
				@Disciplina.find.byId(idDiscip).getQtdQuestao()
				<dt>Professor:</dt>
				@Professor.find.byId(Disciplina.find.byId(idDiscip).getIdProfessor()).getNome()
				<dt>Questões Cadastradas:</dt>
				@Questao.returnQtdQuestCadastrada(idDiscip)

			</dl>
		</div>
	</div>
	}
	
	</div>
}